include README.md
include LICENSE
include NEWS
include pyproject.toml
include setup.py
include src/kdtree.h
include src/kdtree.c
include src/*.pyx
include airroute/__init__.py
exclude src/kdtree_r.c
exclude src/Makevars*
exclude src/*.rds
global-exclude *.o
global-exclude *.so
exclude R/*
exclude man/*
exclude docs/*
exclude .devel/*
exclude .git/*
exclude .github/*
exclude .pytest_cache/*
exclude Makefile
